.reserchListWrapper {
    min-height: 100vw;
    width: 80%;
    display: flex;
    padding: 50px 0;
    margin: auto;
    flex-direction: column;
    gap: 45px;
}

/* .listItem {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    text-align: left;
    box-shadow: 0px 26px 76px -38px rgba(0,0,0,0.75);
    background-color: #ffffff !important;
} */

/*  */

.listItem {
    height: auto;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 26px 76px -38px rgba(0,0,0,0.75);
}

.listItem img {
    max-width: 350px;
    float: left;
    margin-right: 15px;
}

.listItem .text {
    text-align: left;
    margin: 20px;
}

.listItem .text h1 {
    font-weight: 700;
    font-size: 38px;
}

.listItem .text p {
    font-size: 22px;
}

/*  */

.listItemDark {
    background-color: #29292b !important;
}

.listItem .reserchImg {
    overflow: hidden;
    min-height: 250px;
    min-width: 400px;
    max-width: 500px;
}

.listItem .reserchImg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.reserchPreviewContent {
    margin: 10px;
}

.reserchPreviewContent .topic {
    display: block;
    color: rgb(143, 143, 143);
    margin-top: -10px;
}

.reserchPreviewContent .title {
    font-size: 42px;
    font-weight: 700;
    display: block;
}